/* clockwise if write 4 numbers */
.margin {
    margin: 10px 20px 30px 40px;
    background-color: red;
    color: white;
}

/* clockwise if write 4 numbers */
.padding {
    padding: 20px 30px 40px 50px;
    background-color: blue;
    color: wheat;
}