* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.header {
    width: 80%;
    height: 200%;
    background: cadetblue;
    margin: auto;
    position: relative;
}

.box1 {
    height: 100px;
    width: 100px;
    background-color: red;
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: green;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
}

.box3 {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    top: 0%;
    right: 0%;
}

.box4 {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}