/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

button:hover {
    background-color: #27394e;
}

/* nav */
.main-head {
    background: #131c27;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.main-head nav {
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.main-head #logo {
    flex: 2 1 40rem;
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
}

.main-head ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}

/* hero landing page */
.hero {
    min-height: 90vh;
    background: center no-repeat linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("/practice-alone/practice-travel-website/img/landing-page.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero h3 {
    padding: 5rem;
}

#locations {
    min-height: 100vh;
    background: center no-repeat linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("/practice-alone/practice-travel-website/img/new-york-page.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.locations-head {
    width: 90%;
    margin: auto;
}

.locations-head h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
    background: linear-gradient(#131c27, #663b34);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 4rem 0rem;
    -webkit-text-fill-color: transparent;
}

.cloud {
    position: absolute;
    right: 0%;
    top: 0%;
}

.moving-cloud-1 {
    -webkit-animation: cloudAnimation 3s infinite alternate ease-in-out;
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
    top: 10%;
    z-index: -1;
    -webkit-animation: cloudAnimation 3.5s infinite alternate ease-in-out;
    animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}

@-webkit-keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(0%, 0%);
    }
}

@keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(0%, 0%);
    }
}

/* Media queries */
@media screen and (max-width: 934px) {
    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
    }

    #logo {
        padding: 2rem;
    }

    .cloud {
        height: 40rem;
        pointer-events: none;
    }

    .moving-cloud-1 {
        z-index: -1;
    }

    .moving-cloud-2 {
        z-index: -2;
    }
}